In [29]:
import pandas as pd

In [30]:
trestne_ciny = pd.read_csv('trestne_ciny_2023.csv', encoding='UTF-8')
trestne_ciny.head(2)

,id,x,y,mp,date,state,relevance,types
0,20102956,16.624296,49.196965,False,2023-01-01T00:23:00.0000+01:00,1,4,76
1,20102956,16.624296,49.196965,False,2023-01-01T00:23:00.0000+01:00,1,4,97

In [31]:
trestne_ciny = trestne_ciny.drop(columns=['mp'])

In [32]:
trestne_ciny = trestne_ciny[(trestne_ciny['relevance'].isin([1, 3, 4])) & (trestne_ciny['state'] < 5)]

In [33]:
trestne_ciny['relevance'].unique()

array([4, 3, 1], dtype=int64)

In [34]:
trestne_ciny['state'].unique()

array([1, 2, 4, 3], dtype=int64)

In [37]:
trestne_ciny = trestne_ciny.replace({'types': 'type'})
trestne_ciny

,id,x,y,date,state,relevance,types
0,20102956,16.624296,49.196965,2023-01-01T00:23:00.0000+01:00,1,4,76
1,20102956,16.624296,49.196965,2023-01-01T00:23:00.0000+01:00,1,4,97
2,20102956,16.624296,49.196965,2023-01-01T00:23:00.0000+01:00,1,4,111
3,20103251,16.605746,49.192579,2023-01-01T00:29:00.0000+01:00,2,4,18
4,20103251,16.605746,49.192579,2023-01-01T00:29:00.0000+01:00,2,4,34
...,...,...,...,...,...,...,...
117808,22574058,16.577581,49.174230,2023-10-16T22:27:00.0000+02:00,1,4,97
117809,22574058,16.577581,49.174230,2023-10-16T22:27:00.0000+02:00,1,4,120
117810,22574144,16.625827,49.198809,2023-10-16T22:00:00.0000+02:00,1,3,74
117811,22574144,16.625827,49.198809,2023-10-16T22:00:00.0000+02:00,1,3,97
117812,22574144,16.625827,49.198809,2023-10-16T22:00:00.0000+02:00,1,3,120

In [39]:
trestne_ciny.to_csv('trestne_ciny_final.csv', index=False)